<div class="pgs-map-menu">
  <!-- <button mat-icon-button class="pgs-map-menu-button">
    <fa-icon icon="arrow-left" size="lg"></fa-icon>
  </button>
  <button mat-icon-button class="pgs-map-menu-button" disabled>
  </button> -->
  <button mat-icon-button class="pgs-map-menu-button" [style.width]="buttonSize + 'px'" [style.height]="buttonSize + 'px'">
    <fa-icon class="pgs-map-menu-button-icon" icon="expand-arrows-alt" [size]="iconSize"></fa-icon>
  </button>
  <button mat-icon-button class="pgs-map-menu-button" [style.width]="buttonSize + 'px'" [style.height]="buttonSize + 'px'">
    <fa-icon class="pgs-map-menu-button-icon" icon="map-pin" [size]="iconSize"></fa-icon>
  </button>
  <button mat-icon-button class="pgs-map-menu-button-central mat-elevation-z2" [style.width]="buttonSize + 'px'" [style.height]="buttonSize + 'px'">
    <fa-icon class="pgs-map-menu-button-icon" icon="search" [size]="iconSize"></fa-icon>
  </button>
  <button mat-icon-button class="pgs-map-menu-button" [style.width]="buttonSize + 'px'" [style.height]="buttonSize + 'px'">
    <fa-icon class="pgs-map-menu-button-icon" icon="map-marker-alt" [size]="iconSize"></fa-icon>
  </button>
  <button mat-icon-button class="pgs-map-menu-button" [style.width]="buttonSize + 'px'" [style.height]="buttonSize + 'px'">
    <fa-icon class="pgs-map-menu-button-icon" icon="location-arrow" [size]="iconSize"></fa-icon>
  </button>
</div>
